<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="updateMember">
	UPDATE MEMBER
	   SET
	   PROFILE_IMG = ?
	  , NICKNAME = ?
	  , MEMBER_PWD = ?
	  , EMAIL = ?
	  , PHONE = ?
	  WHERE MEMBER_ID = ?
</entry>

<entry key="selectMember">
	SELECT 
	   MEMBER_NO
	 , MEMBER_NAME
	 , MEMBER_ID
	 , MEMBER_PWD
	 , PHONE
	 , EMAIL
	 , NICKNAME
	 , STATUS
	 , ENROLL_DATE
	 , PROFILE_IMG
	  FROM MEMBER
	 WHERE MEMBER_ID = ?
</entry>

<entry key="deleteMember">
	UPDATE MEMBER
	   SET 
	   STATUS ='N'
	   WHERE 
	   MEMBER_ID = ?
	   AND MEMBER_PWD = ?
</entry>


</properties>