<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="updateMember">
	UPDATE MEMBER
	   SET
	   PROFILE_IMG = ?
	  , NICKNAME = ?
	  , EMAIL = ?
	  , PHONE = ?
	  WHERE MEMBER_ID = ?
</entry>

<entry key="selectMember">
	SELECT 
	   MEMBER_NO
	 , MEMBER_NAME
	 , MEMBER_ID
	 , MEMBER_PWD
	 , PHONE
	 , EMAIL
	 , NICKNAME
	 , STATUS
	 , ENROLL_DATE
	 , PROFILE_IMG
	  FROM MEMBER
	 WHERE MEMBER_ID = ?
	 AND STATUS IN('Y','W')
</entry>

<entry key="deleteMember">
	UPDATE MEMBER
	   SET 
	   STATUS ='S'
	   WHERE 
	   MEMBER_ID = ?
	   AND MEMBER_PWD = ?
</entry>

<entry key="loginMember">
   SELECT 
          MEMBER_NO
        , MEMBER_NAME
        , MEMBER_ID
        , MEMBER_PWD
        , PHONE
        , EMAIL
        , NICKNAME
        , STATUS
        , ENROLL_DATE
        , PROFILE_IMG
     FROM MEMBER
    WHERE MEMBER_ID = ?
      AND MEMBER_PWD = ?
      AND STATUS = 'Y'
</entry>

<entry key="selectrreviewListCount">
SELECT COUNT(*) COUNT
FROM MEMBER 
JOIN COMMENTS USING(MEMBER_NO)
WHERE MEMBER_NO=?
</entry>

<entry key="updatePwd">
UPDATE MEMBER
   SET MEMBER_PWD = ?
WHERE MEMBER_ID = ?
AND MEMBER_PWD = ?
</entry>

<entry key="selectRlist">
SELECT 
        TITLE
      , COMMENT_CONTENT "COMMENT"
      ,C.MODIFY_DATE 
    FROM COMMENTS C
    JOIN REVIEW USING(BOARD_NO)
    WHERE MEMBER_NO = ?
    AND C.STATUS = 'Y'
</entry>

<entry key="idCheck"> <!-- ajax 아이디 중복 체크 -->
SELECT
       COUNT(*) "COUNT"
  FROM MEMBER
 WHERE MEMBER_ID = ?
</entry>

<entry key="insertMember">
   INSERT
   INTO MEMBER
       (
           MEMBER_NO
         , MEMBER_NAME
         , MEMBER_ID
         , MEMBER_PWD
         , PHONE
         , EMAIL
         , NICKNAME
         , PROFILE_IMG
       )
   VALUES
       (
           SEQ_MEMBER_NO.NEXTVAL
         , ?
         , ?
         , ?
         , ?
         , ?
         , ?
         , ?
       )
</entry>

</properties>